body{
  background: linear-gradient(to right, #000000, #1e070c, #310a11, #450712, #59030e, #59030e, #59030e, #59030e, #450712, #310a11, #1e070c, #000000);
  background-repeat: no-repeat;
  min-height: 100vh;
}

.MuiPaginationItem-root {
  color: #ffffff !important;
}

.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: #bd1e1e !important;
}


.swiper {
  width: 100%;
  height: 50vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff; 
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next, .swiper-button-prev {
  color: rgb(95, 0, 0) !important;
}

.swiper-pagination-bullet-active {
  background-color: rgb(95, 0, 0) !important;
} 